:root {
    --main-color: #1e7b47;
    --secondary-color: #add8e6;
    --accent-color: #90ee90;
    --default-light: #ffffff;
    --default-dark: #2f2f2f;

    --header-font: 'Exo 2', impact, sans-serif;
    --paragraph-font: 'Comfortaa', arial, sans-serif;
}

/* Random styling for html and body */
html { background-color: var(--secondary-color); }
body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 80% auto;
}
body > * {
    grid-column: 2;
}
.shadow-blocker-1, .shadow-blocker-2 {
    background-color: var(--secondary-color);
    position: relative;
    z-index: 24;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1 / span 5;
}
.shadow-blocker-2 {
    grid-column: 3;
}

/* Global Font Styles */
h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.1em;
}
h1, h2, h3, h4, th {
    font-family: var(--header-font);
}
p, span, div, li, td, a, figcaption, form {
    font-family: var(--paragraph-font);
}


/* Styles for the header banner */
#big-banner {
    position: relative;
    display: none;
    background-color: var(--default-dark);
    border: double;
    color: var(--default-light);
    font-weight: bold;
    padding: 1rem;
    z-index: 25;
    grid-template-columns: 30px auto 30px;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
}
#big-banner i:last-child:hover {
    color: var(--main-color);
    cursor: pointer;
}


/* Styles for the header and elements inside the header */
header {
    z-index: 10;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    text-shadow: 1px 1px 1px var(--default-dark);
    grid-template-columns: 1fr;
    display: grid;
}
header > div {
    display: grid;
    
}
header > div > img {
    display: block;
    grid-column: 1;
    grid-row: span 2;
    justify-self: end;
}
header> div > span {
    display: block;
    color: var(--secondary-color);
    padding-bottom: 1rem;
    justify-self: start;
    grid-column: 2;
    padding-left: 10px;
}
h1 {
    grid-column: 2;
    justify-self: start;
    color: var(--default-light);
    margin-top: 0.75rem;
    margin-bottom: 0;
}
nav {
    position: sticky;
    z-index: 5;
    top: 0;
}
nav > ul {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(6,1fr);
    box-shadow: 0 0 10px var(--default-dark);
}
nav > ul .toggler {
    display: none;
}
nav > ul .toggler + li {
    grid-column: 1;
}
nav a {
    z-index: 8;
    display: block;
    margin-right: 0;
    overflow: hidden;
    font-size: 0.9em;
    width: calc(100%);
    font-weight: bolder;
    line-height: 0.9em;
    text-align: center;
    position: relative;
    text-decoration: none;
    height: calc(100% - 2em);
    font-family: var(--header-font);
    background-color: var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
    transition: padding 0.2s, height 0.2s;
    color: var(--default-light);
    padding: 1.3em 0 0.7em;
    transition: all 0.2s;
    height: 18px;
}
nav a:hover {
    text-shadow: none;
    background-color: var(--default-light);
    box-shadow: 0 0 10px var(--default-light),
                inset 0 0 10px var(--main-color);
    color: var(--main-color);
    z-index: 7;
}
nav a.at, nav a:active {
    background-color: var(--main-color);
    text-shadow: 1px 1px var(--default-dark);
    box-shadow: 0 0 10px var(--main-color);
    color: var(--default-light);
    z-index: 9 !important;
    transition: none;
}
nav:active a.at:not(:active) {
    background-color: var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
    color: var(--default-light);
    z-index: 8 !important;
}

/* Styles for the main and the children of main */
main {
    padding: 1px 1em;
    background-color: var(--default-light);
}
h2 {
    color: var(--main-color);
}
h3, h4 {
    color: var(--default-dark);
}
section {
    padding: 0 1em;
}
div.place-holder {
    padding: 1rem;
    background-color: #eee;
    border: dashed 1px var(--default-dark);
    margin-bottom: 20px;
    font-style: italic;
}

section.contact-info {
    position: relative;
    left: -1rem;
    width: 100%;
    padding: 1rem;
    display: grid;
    background-color: var(--default-dark);
    grid-template-columns: 50% auto;
    box-shadow: 0 0 10px var(--default-dark);
}
section.contact-info iframe {
    grid-row: span 3;
    grid-column: 1;
    height: 200px;
    width: 90%;
    border: 0;
}
section.contact-info h3, section.contact-info ul {
    margin-top: 0;
    text-align: left;
    color: var(--default-light);
}
section.contact-info ul {
    margin-bottom: 0;
}
section.contact-info li {
    padding-top: 3px;
}
section.contact-info li i {
    transition: transform 0.2s, color 0.4s;
}
section.contact-info li:hover i {
    color: var(--main-color);
    transform: scale(1.5);
}
section.contact-info div.social-links {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,50px);
    justify-items: center;
    align-items: flex-start;
    padding-left: 35px;
}
div.social-links a {
    width: 33px;
    height: 33px;
    border-radius: 7px;
    overflow: hidden;
}
div.social-links .fa-google-plus-square,
div.social-links .fa-facebook-square,
div.social-links .fa-flickr {
    color: var(--default-light);
    transition: transform 0.5s;
    font-size: 40px;
}
div.social-links a i {
    line-height: 35px;
}
div.social-links a:hover {
    background: white;
}
div.social-links a:hover .fa-google-plus-square {
    cursor: pointer;
    color: tomato;
}
div.social-links a:hover .fa-facebook-square {
    cursor: pointer;
    color: royalblue;
}
div.social-links a:hover .fa-flickr {
    cursor: pointer;
    background: linear-gradient(90deg, royalblue, deeppink);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.hero {
    z-index: 1;
    position: relative;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: left bottom;
    overflow: hidden;
    height: 250px;
}
div.hero figure, div.hero figure img {
    width: 100%;
}
div.hero section {
    top: 20px;
    left: 20px;
    width: 200px;
    height: 180px;
    position: absolute;
    background: rgba(255,255,255,0.7);
    background-image: linear-gradient(-160deg, rgba(255,255,255,0.7) 50%, rgba(100,100,100,0.7));
    animation: come-in 2s ease-in-out;
    transition: top 0.3s;
    transition-delay: 2.3s;
}
div.hero section h3 {
    margin-top: 0.5rem;
}
section.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section.summary h3 {
    grid-column: span 2;
    margin-bottom: 0;
    text-align: center;
}
section.summary span {
    font-size: 13px;
    text-align: right;
    font-weight: bold;
}
section.summary span.colored {
    text-align: left;
    padding-left: 5px;
    color: var(--main-color);
}
div .shout-out {
    display: block;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    bottom: -80px; right: 0;
    font-size: 12px;
    padding: 0.3rem;
    transition: bottom 0.3s;
    transition-delay: 2s;
}
div:hover .shout-out {
    transition-delay: 0.2s;
    bottom: 0;
}
.shout-out a {
    color: var(--main-color);
}
section.article {
    background-color: var(--secondary-color);
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 900px;
}
section.article .img-holder {
    float: right;
    width: 50%;
    max-width: 300px;
    padding: 0.5rem 0 0 0.5rem;
    position: relative;
    overflow: hidden;
}
section.article:hover .shout-out {
    transition-delay: 0.2s;
    bottom: 4px;
    opacity: 1;
}
.img-holder img {
    width: 100%;
}
section.article h3 {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
section.article span:not(.shout-out) {
    font-size: 0.9em;
    opacity: 0.7;
}
section.article span.author {
    padding-left: 10px;
    font-size: 0.8em;
    opacity: 0.5;
}
section.article p {
    padding-left: 10px;
    line-height: 1.5em;
}
section.forecast h3 {
    text-align: center;
}
.five-day {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    max-width: 650px;
}
.five-day section {
    border: solid 0.5px var(--default-dark);
    padding: 0;
}
.five-day div {
    margin: 0 auto;
}
.five-day h4 {
    text-shadow: 1px 1px 1px var(--default-dark);
    background-color: var(--main-color);
    color: var(--default-light);
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}
.five-day span {
    color: var(--default-dark);
    text-align: center;
    padding: 0.5rem;
    display: block;
}
.weather-icon img {
    display: block;
    margin: 10px auto;
    transform: scale(1.5);
    filter: drop-shadow(1px 1px 1px var(--default-dark));
}

main.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
    padding-bottom: 30px;
}
main.gallery h2 {
    margin-top: 1.25em;
    grid-column: 1 / -1;
}
main.gallery figure {
    transform: scale(0);
    max-width: 300px;
    box-shadow: 1px 1px 3px var(--default-dark), inset 0 0 3px var(--default-dark);
    padding: 0.5em;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}
main.gallery figure.in {
    animation: img-come-in 1s;
    transform: scale(1);
}
main.gallery figure:hover {
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 12px var(--default-dark), inset 0 0 3px var(--default-dark);
}
main.gallery figure img {
    display: block;
    border-radius: 10px;
}
main.gallery figure figcaption {
    padding: 0.5em;
    text-align: center;
}

main.gallery.refs {
    padding: 0 calc(100% - 1000px) 30px;
}
main.gallery.refs figure {
    max-width: 200px;
}
main.gallery.refs figure img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 200px;
}
main.gallery.refs figure figcaption {
    font-size: 0.8em;
}
main.gallery > a {
    grid-column: 1 / -1;
}

form {
    padding: 1rem 0 1.5rem;
    max-width: 450px;
    width: 100%;
}
fieldset {
    border: solid 2px var(--default-dark);
    margin-bottom: 1.25rem;
    border-radius: 5px;
}
fieldset legend {
    padding: 0.25rem;
}
form label {
    font-size: 0.8em;
}
form div label {
    font-size: 1rem;
}
form label, form div {
    margin-top: 1rem;
    padding-bottom: 0.3rem;
}
form label span {
    color: red;
    font-size: large;
}
div label {
    margin-top: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
div input + label {
    padding-top: 0;
}
form input:not([type="range"]), form select, form textarea {
    outline: none;
    box-shadow: 0 0 0 7px transparent;
    transition: box-shadow 0.3s;
}
form input:not([type="range"]):not([type="radio"]):focus, form select:focus, form textarea:focus {
    box-shadow: 0 0 0 4px var(--main-color);
}
form label, form input, form select, form textarea {
    display: block;
    width: 100%;
}
form input {
    margin-top: 5px;
    width: calc(100% - 0.75rem * 2);
    padding: 0.75rem;
}
form input[type="range"] {
    outline: none;
    width: 100%;
    padding: 0;
}
form select {
    margin-top: 5px;
    padding: 0.75rem;
}
form input, form select, form textarea {
    background-color: #eeeeee;
    border: solid 1px var(--default-dark);
    border-radius: 4px;
}
form input[type="submit"] {
    background-color: var(--main-color);
    color: var(--default-light);
    text-shadow: 1px 1px 1px var(--default-dark);
    width: 100%;
    margin-top: 10px;
}
form input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--default-dark);
}
form textarea {
    width: calc(100% - 5px);
    height: 4em;
    margin-top: 5px;
}
form input:required:not(:valid) {
    box-shadow: inset 0 0 0 2px red, 0 0 0 7px transparent;
    transition: box-shadow 0.3s;
}
form input:required:valid {
    box-shadow: inset 0 0 0 2px var(--main-color), 0 0 0 7px transparent;
    transition: box-shadow 0.3s;
}
form input:required:not(:valid):focus {
    box-shadow: inset 0 0 0 2px red, 0 0 0 4px var(--main-color);
    transition: box-shadow 0.3s;
}
form input:required:valid:focus {
    box-shadow: inset 0 0 0 2px var(--main-color), 0 0 0 4px var(--main-color);
    transition: box-shadow 0.3s;
}
form div.split {
    display: grid;
    grid-template-columns: auto 30px;
    justify-items: center;
    align-items: center;
}
form div.split span {
    grid-column: 1 / -1;
    justify-self: start;
}
form div.split label {
    text-align: center;
    margin-top: 0;
    padding: 6px;
    width: 15px;
}
form div.split input {
    margin-top: 0;
}
main.form {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: flex-start;
    position: relative;
    grid-gap: 20px;
    display: grid;
}
main.form h2 {
    grid-column: 1 / span 2;
    text-align: center;
    margin-bottom: 0;
}
main.form section.help {
    transition: opacity 0.3s, transform 0.3s;
    border: solid 1px var(--default-dark);
    box-shadow: 3px 3px 10px #555555;
    width: calc(100% - 2.5em);
    margin-bottom: 1.5rem;
    border-radius: 10px;
    margin-top: 1.5rem;
    max-width: 450px;
    position: sticky;
    grid-column: 2;
    top: 70px;
}
main.form section.help img {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}
main.form section.help h2 {
    text-align: left;
    font-size: 1.5rem;
}
main.form section.help p {
    font-size: 0.9rem;
}
section.submitted {
    margin: 1rem auto 1.5rem;
    text-align: center;
    width: 80%;
}
section.submitted h2 {
    margin-top: 0.5rem;
}
section.submitted img {
    display: block;
    margin: 0 auto;
    width: 150px;
}


div.hero.homepage {
    margin-top: -1px;
    background-image: url('../images/hero.jpg');
}
#towns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 30px auto 20px;
}
#towns > div {
    width: calc(90% - 1em);
    margin: 30px auto;
    text-align: center;
    box-shadow: 3px 3px 10px var(--default-dark);
    border-radius: 10px;
    padding: 1em;
}
#towns > div img {
    max-width: 100%;
    border-radius: 10px;
}
#towns > div h2 {
    margin: 0;
    margin-top: 0.5em;
    letter-spacing: 2px;
}
#towns > div span {
    font-size: small;
}


div.hero.fish-haven {
    background-image: url('../images/hero-image-fish-haven.jpg');
    background-position: center top;
}
div.hero.soda-springs {
    background-image: url('../images/hero-image-soda-springs.jpg');
    background-position: left center;
}

@media screen and (min-width: 851px) and (max-width: 1111px) {
    #towns {
        grid-template-columns: 1fr 1fr;
    }
    #towns > div {
        margin: 0 auto;
    }
    #towns > div:nth-child(3) {
        grid-template-columns: auto calc(214px + 2em);
        justify-items: center;
        align-items: center;
        grid-column: span 2;
        max-width: 600px;
        display: grid;
    }
    #towns > div:nth-child(3) h2 {
        margin-top: 0;
    }
    #towns > div:nth-child(3) img {
        width: 100%;
        height: 100%;
        max-width: 325px;
        object-fit: cover;
        object-position: center;
    }
}


section.quick-links {
    margin: 0 auto 40px;
    grid-template-columns: 1fr 1fr;
    border: solid 1px var(--default-dark);
    padding-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    width: 85%;
}
section.quick-links > h2 {
    grid-column: 1 / -1;
    font-size: 2.4rem;
    margin-bottom: 0.25rem;
}
section.quick-links > span {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}
section.quick-links section {
    margin: 0.5rem;
    padding: 0.2rem;
    padding-bottom: 1rem;
    background-color: #eeeeee;
    transform: scale(0.95);
    border-radius: 5px;
    box-shadow: 0 0 2px var(--default-dark);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}
section.quick-links section:hover {
    box-shadow: 0 0 5px var(--default-dark);
    background-color: #dddddd;
    transform: scale(1);
    cursor: pointer;
}
section.quick-links h3 {
    margin-bottom: 0.25rem;
}
section.quick-links span {
    font-size: 0.85rem;
}

/* Styles for the footer and it's child elements */
footer {
    text-shadow: 1px 1px 1px var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
    background-color: var(--main-color);
    font-family: var(--paragraph-font);
    color: var(--default-light);
    text-align: center;
    position: relative;
    padding: 1rem;
    z-index: 10;
}
footer a {
    color: var(--default-light);
    text-decoration: underline var(--secondary-color);
}
footer a:hover {
    text-shadow: 1px 1px 10px var(--secondary-color);
}
.last-updated {
    padding-top: 0.5rem;
    display: block;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

#too-small {
    display: none;
}


@keyframes come-in {
    from {
        opacity: 0;
        filter: blur(2px);
    }
    50% {
        opacity: 0;
        filter: blur(2px);
    }
    to {
        opacity: 1;
    }
}
@keyframes img-come-in {
    from {
        opacity: 0;
        transform: scale(0.5) rotate(45deg);
    }
    to {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

@media screen and (max-width: 1280px) {
    main.gallery {
        grid-template-columns: 1fr 1fr;
    }
    main.gallery figure:last-child {
        grid-column: span 2;
    }
}