@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2|Carter+One&display=swap');

:root {
    --primary-color: #7F7F7F;
    --secondary-color: #FBD75D;
    --accent1-color: #323232;
    --accent2-color: #FFFFFF;
    --heading-font: 'Carter One', Verdana, sans-serif;
    --paragraph-font: 'Baloo Tamma 2', Impact, sans-serif;
}

html {
    background-color: var(--primary-color);
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 10px black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header {
    position: relative;
    z-index: 10;
    padding: 5px 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}

header > h1 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    color: var(--accent2-color);
}

header > img.web-logo {
    width: 50px;
}

nav {
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 70px;
}

nav a:link, nav a:visited {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.5s;
}

nav a:hover {
    text-shadow: 1px 1px #f5f5f570;
    color: var(--accent1-color);
    background: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
}

main {
    background-color: whitesmoke;
    position: relative;
    z-index: 9;
}

footer {
    position: relative;
    z-index: 10;
    font-family: var(--paragraph-font);
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 1em;
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    padding: 1em;
}

section {
    padding: 5px 100px;
}
section > img {
    padding: 30px 20px 0 20px;
}
section > h2 {
    text-align: center;
    letter-spacing: 1px;
}
section + section > img {
    float: left;
}
section > img {
    float: right;
}

.social-link {
    width: 40px;
    transform: scale(0.9);
    transition: transform 0.1s;
}

.social-link:hover {
    transform: scale(1);
}

.contact {
    margin-left: 15%;
}
.social {
    float: right;
    margin-right: 150px;
}
.indent {
    padding-left: 20px;
}
.less-indent:nth-child(1) {
    padding-left: 2px;
}
.bottom-copyright {
    padding-top: 20px;
    text-align: center;
}
.hero-image {
    margin-bottom: 30px;
}
