@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2|Carter+One&display=swap');

:root {
    --primary-color: #7F7F7F;
    --secondary-color: #FBD75D;
    --accent1-color: #323232;
    --accent2-color: #FFFFFF;
    --heading-font: 'Carter One', Verdana, sans-serif;
    --paragraph-font: 'Baloo Tamma 2', Impact, sans-serif;
}
html {
    background-image: linear-gradient(to bottom, gray, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow: hidden scroll;
}
header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 10px black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
header {
    position: relative;
    z-index: 10;
    padding: 5px 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}
header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header > div > h1 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    color: var(--accent2-color);
}
header > div > img.web-logo {
    width: 50px;
}
nav {
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
}
nav>ul {
    list-style-type: none;
    display: flex;
}
nav a {
    padding: 1em;
    min-width: 70px;
}
nav a:link, nav a:visited {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.5s;
}
nav a:hover {
    text-shadow: 1px 1px #f5f5f570;
    color: var(--accent1-color);
    background: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
}
main {
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
    z-index: 9;
}
footer {
    position: relative;
    z-index: 10;
    font-family: var(--paragraph-font);
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 1em;
}
p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    padding: 1em;
}
section {
    padding: 5px 100px;
}
section:nth-of-type(1) {
    display: grid;
    grid-template-columns: auto 350px;
    grid-gap: 10px;
}
section:nth-of-type(1) > div {
    grid-row: 1;
}
section:nth-of-type(1) > div:nth-of-type(1) {
    grid-column: 2;
}
section:nth-of-type(1) > div:nth-of-type(2) {
    grid-column: 1;
}
section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 350px auto;
    grid-gap: 10px;
}
section > div {
    padding: 0;
    margin: 0;
}
section > div > img {
    padding-top: 30px;
}
section > h2, section > div > h2 {
    text-align: center;
    letter-spacing: 1px;
}

#menu-click, nav.box-menu {
    display: none;
}
#toggler {
    position: absolute;
    top: -999px;
    left: -999px;
}

.social-link {
    width: 40px;
    transform: scale(0.9);
    transition: transform 0.1s;
}
.social-link:hover {
    transform: scale(1);
}
.contact {
    margin-left: 15%;
}
.social {
    float: right;
    margin-right: 150px;
}
.indent {
    padding-left: 20px;
}
.less-indent:nth-child(1) {
    padding-left: 2px;
}
.bottom-copyright {
    padding-top: 20px;
    text-align: center;
}
.hero-image {
    margin-bottom: 40px;
    position: relative;
    height: 250px;
}
.hero-image > .action {
    position: absolute;
    top: calc(50% - 20px);
    padding: 10px 20px;
    left: 40px;
    color: var(--secondary-color);
    background: rgba(0,0,0,0.4);
    transition: all 0.5s;
    animation: Action 2s;
}
.action > h3 {
    color: var(--secondary-color);
}
.action button {
    padding: 0.3em;
}


@keyframes Action {
    from {
        left: -50px;
        opacity: 0;
    }
    50% {
        left: -50px;
        opacity: 0;
    }
    to {
        left: 40px;
        opacity: 1;
    }
}

@media screen and (max-width: calc(960px + 2em)) {
    header, main, footer {
        max-width: calc(100% - 2em);
    }
    .contact {
        margin-left: 50px;
    }
    .social {
        margin-right: 50px;
    }
    section:nth-of-type(1), section:nth-of-type(2) {
        display: block;
    }
    section:first-child {
        width: 100%;
    }
    section img {
        width: 350px;
        margin-left: calc(50% - 350px / 2);
    }
    section {
        padding: 5px 50px;
    }
    header {
        display: block;
    }
    nav > ul {
        padding-left: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 660px) {
    /* Change nav to a menu*/
    header > nav {
        display: none;
    }
    nav.box-menu {
        display: block;
        position: fixed;
        top: 0; left: calc(100%);
        min-width: 200px;
        width: 70%;
        height: 100%;
        transition: all 0.2s;
        background: var(--primary-color);
        z-index: 99;
    }
    nav.box-menu > ul {
        flex-direction: column;
    }
    nav.box-menu li {
        margin-bottom: 37px;
    }
    #menu-click {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 60px;
        height: 60px;
        z-index: 999;
        transition: all 0.5s;
    }
    #menu-click > div {
        background: var(--secondary-color);
        transition: all 0.5s;
        position: absolute;
        height: 2px;
        width: 60%;
        left: 20%;
    }
    #menu-click > div:nth-of-type(1) {
        top: calc(25% - 1px);
    }
    #menu-click > div:nth-of-type(2) {
        top: calc(50% - 1px);
    }
    #menu-click > div:nth-of-type(3) {
        top: calc(75% - 1px);
    }
    #toggler:checked + #menu-click {
        transform: translate(20px, -20px) scale(0.6);
    }
    #toggler:checked + #menu-click > div:nth-of-type(1) {
        top: calc(50% - 1px);
        transform: rotate(405deg);
    }
    #toggler:checked + #menu-click > div:nth-of-type(2) {
        top: calc(50% - 1px);
        opacity: 0;
    }
    #toggler:checked + #menu-click > div:nth-of-type(3) {
        top: calc(50% - 1px);
        transform: rotate(-405deg);
    }
    #menu-click:hover {
        background: rgba(255,255,255,0.4);
    }
    #toggler:checked ~ nav.box-menu {
        left: 30%;
    }
}

@media screen and (max-width: 550px) {
    .social {
        float: none;
        position: relative;
        margin-top: 5px;
        margin-left: 40px;
    }
    .contact {
        margin-left: 40px;
    }
}

