* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 4.5rem auto;
}
h1 {
    grid-column: 1;
}
.code-output {
    position: sticky;
    grid-column: 1;
    grid-row: 2;
    top: 10px;
}
.trace-table {
    grid-row: span 2;
}

.code-line {
    display: grid;
    grid-template-columns: 1.9em auto;
    grid-column-gap: 5px;
    font-size: 0.8em;
}
.code-line.active {
    background-color: #dddddd;
}
.code-line span.num {
    display: grid;
    justify-self: end;
    align-items: center;
    justify-items: center;
    border-right: solid 2px forestgreen;
    padding-right: 5px;
    height: 100%;
}
.code-line div {
    padding: 0.2em 0;
}
.code-line div span {
    display: inline-block;
    width: 1.5em;
}
.trace-table {
    margin-top: 20px;
}
.trace-table th {
    padding: 0.2em 0.2em;
    background: lightskyblue;
    font-size: 0.9em;
}
.trace-table td {
    padding: 0.2em 0.2em;
    text-align: center;
    font-size: 0.9em;
}


