:root {
    --main-color: #2e8b57;
    --secondary-color: #add8e6;
    --accent-color: #90ee90;
    --default-light: #ffffff;
    --default-dark: #2f2f2f;

    --header-font: 'Exo 2', sans-serif;
    --paragraph-font: 'Comfortaa', sans-serif;
}

body {
    grid-template-columns: auto 90% auto;
}


#typo-wrapper {
    grid-template-columns: 1fr 1fr;
}