* {
    font-family: 'Gugi';
}
html {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}
body {
    border-radius: 5px;
    min-height: 406px;
    height: 70%;
    max-width: 700px;
    background-color: white;
}
header {
    background-color: seagreen;
    padding: 1em;
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-rows: 5em;
    justify-items: center;
    border-radius: 5px;
}
h1 {
    font-size: 40px;
    color: white;
    align-self: center;
}
header > img {
    float: right;
    width: 100%;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
}
main {
    width: 95%;
    height: calc(100% - 5em - 6em - 4em);
    margin: 2em auto;
}
h2 {
    border-bottom: solid 1px #cccccc;
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding-top: 10px;
    height: 94%;
    overflow-y: scroll;
}
footer {
    background-color: seagreen;
    color: white;
    padding: 0.75em;
    border-radius: 5px;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: underline lightblue;
    transition: color 0.5s, text-shadow 0.5s;
}
footer a:hover {
    color: lightgreen;
    text-shadow: 1px 1px 10px lightblue;
}
#updated {
    color: lightblue;
    font-size: 12px;
}