body {
    grid-template-columns: auto 95% auto;
}
header {
    box-shadow: 0 0 10px var(--default-dark);
}
nav ul {
    grid-template-columns: 1fr;
}
nav ul .toggler {
    display: block;
}
nav li.toggler a {
    background-color: var(--default-light);
    box-shadow: 0 0 10px var(--default-light), inset 0 0 10px var(--main-color);
    color: var(--main-color);
}
nav li.toggler a:hover {
    cursor: pointer;
}
nav li.hide a {
    color: var(--default-light);
    background-color: var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
}
nav ul li.hide ~ * a {
    /* display: none; */
    padding: 0;
    height: 0;
}


section.contact-info {
    grid-template-columns: 1fr;
}
section.contact-info iframe {
    width: 100%;
    height: 300px;
    grid-column: 1;
    grid-row: span 1;
    grid-gap: 10px;
}
section.contact-info h3 {
    margin-top: 1rem;
}
section.contact-info ul {
    margin-left: calc(2.14285714em + (35% - 120px));
    margin-bottom: 15px;
}
section.contact-info h3,
section.contact-info .social-links {
    margin-left: calc(35% - 120px);
}


#towns {
    grid-template-columns: 1fr;
    grid-gap: 0;
}

@media screen and (min-width: 601px) {
    #towns > div {
        display: grid;
        grid-template-columns: auto calc(214px + 2em);
        justify-items: center;
        align-items: center;
        max-width: 600px;
    }
    #towns > div img {
        width: 100%;
        height: 100%;
        max-width: 325px;
        object-fit: cover;
        object-position: center;
    }
    #towns > div:nth-child(even) {
        grid-template-columns: calc(214px + 2em) auto;
    }
    #towns > div:nth-child(even) img {
        grid-column: 2;
        grid-row: 1;
    }
    #towns > div:nth-child(even) section {
        grid-row: 1;
    }
}

@media screen and (max-width: 710px) {
    main.gallery {
        grid-template-columns: 1fr;
    }
    main.gallery picture:last-child {
        grid-column: span 1;
    }
    form {
        margin: 0 auto;
    }
    main.form h2 {
        text-align: center;
    }
}

@media screen and (max-width: 657px) {
    h2, h3 {
        text-align: center;
    }
    section.article .img-holder {
        min-width: 300px;
        width: 70%;
        max-width: 400px;
        float: none;
        margin: 0 auto;
        display: block;
        padding-left: 0;
    }
}

@media screen and (min-width: 546px) and (max-width: 600px) {
    #towns > div img {
        max-width: 140%;
        position: absolute;
        left: calc(-20%);
        margin: 0 auto;
        width: 140%;
        top: -150px;
        z-index: 3;
    }
    #towns > div {
        position: relative;
        align-items: center;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 200px;
        box-shadow: none;
        display: static;
        width: 60%;
        z-index: 4;
        padding: 0;
    }
    #towns > div section {
        border-radius: 10px;
        box-shadow: 3px 3px 10px var(--default-dark);
        background: rgba(255,255,255,0.8);
        position: relative;
        margin: 0 auto;
        padding: 1em;
        z-index: 4;
    }
}

@media screen and (max-width: 545px) {
    #towns > div {
        max-width: 300px;
    }
    #towns > div img {
        width: 100%;
        max-width: 300px;
    }
    #towns > div h2 {
        margin-top: 0.5em;
    }
}

/* @media screen and (max-width: 500px) {
    div.hero:hover section {
        transition-delay: 0s;
        top: 10px;
    }
} */

@media screen and (max-width: 430px) {
    #brk1 {
        display: block;
    }
    section.contact-info ul {
        margin-left: calc(2.14285714em + (30% - 70px));
        margin-bottom: 15px;
    }
    section.contact-info h3,
    section.contact-info .social-links {
        margin-left: calc(30% - 70px);
    }
    .five-day {
        grid-template-columns: repeat(6, 1fr);
    }
    .five-day section {
        grid-column: span 2;
    }
    .five-day section:nth-child(1),
    .five-day section:nth-child(2) {
        grid-column: span 3;
    }
    div.hero {
        max-height: 350px;
    }
    div.hero section {
        position: relative;
        background: rgba(255,255,255,0.8);
        border: solid 1px var(--default-dark);
        top: -84px;
        left: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    @keyframes come-in {
        from {
            opacity: 0;
            filter: blur(2px);
            top: 0;
        }
        50% {
            opacity: 0;
            filter: blur(2px);
            top: 0;
        }
        to {
            top: -84px;
            opacity: 1;
            border: solid 1px var(--default-dark);
        }
    }
    section.article .img-holder {
        min-width: 0px;
        width: 100%;
    }
    header h1 {
        font-size: 2rem;
    }
    header span {
        font-size: 0.8rem;
    }
    div.hero {
        max-height: 310px;
    }
    main.gallery picture {
        transform: scale(0.9);
    }
}
@media screen and (max-width: 330px) {
    main.gallery picture {
        transform: scale(0.8);
    }
}
