@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Nova+Mono&family=Play:wght@700&display=swap');

:root {
    --primary-color: #676767;
    --secondary-color: #FFFF64;
    --accent1-color: #10D15A;
    --accent2-color: #202020;
    --other-color: #FEFEFE;
    --heading-font: 'Play', arial bold, sans-serif;
    --paragraph-font: 'Nova Mono', arial, serif;
    --code-font: 'Fira Code', Courier, monospace;
}

html {
    background-color: var(--primary-color);
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--other-color);
    padding: 1em;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

header {
    padding: 1em;
    text-align: center;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}

header > h1 {
    color: var(--accent2-color);
}

footer {
    font-family: var(--paragraph-font);
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 1em;
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    padding: 1em;
}

#logo {
    width: 400px;
    height: 400px;
}
#urlOfCoolors {
    display: none;
}

.signature {
    font-family: var(--paragraph-font);
}

.colored {
    color: var(--primary-color);
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 20%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
    color: #FFFFFF;
}

.other-color {
    background-color: var(--other-color);
    border: solid 1px var(--accent2-color);
}

nav {
    background-color: var(--primary-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    position: relative;
    z-index: 4;
    padding: 1em;
    min-width: 70px;
    transition: all 0.4s;
}
nav li {
    position: relative;
    overflow: hidden;
}
nav li > div {
    position: absolute;
    top: calc(50%); left: calc(50%);
    width: 0; height: 0;
    border-radius: 100%;
    z-index: 3;
    background-color: var(--secondary-color);
    transition: all 0.4s;
}

nav a:hover + div {
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    transition: all 1s;
}

nav a:link, nav a:visited {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--primary-color);
    transition: all 1s;
}
