@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
    --primary-color: #10D15A;
    --secondary-color: #676767;
    --accent1-color: #FFFF64;
    --accent2-color: #2B22E3;
    --default-color: #1A1A1A;
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;
}

html {
    background-color: var(--primary-color);
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: floralwhite;
    padding: 1em;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--default-color);
}

header {
    padding: 1em;
    text-align: center;
    color: var(--accent1-color);
    background-color: var(--secondary-color);
}

header>h1 {
    color: black;
}

p {
    font-family: var(--paragraph-font);
    color: black;
    padding: 1em;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

nav {
    background-color: var(--secondary-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 70px;
    text-decoration: none;
}

nav a:link, nav a:visited {
    color: var(--primary-color);
}

nav a:hover {
    color: var(--primary-color);
    text-decoration: underline var(--accent1-color);
    background-color: rgba(255,255,255,0.2);
}