body {
    margin: 0;
}
header {
    position: relative;
    background-color: lightgray;
    color: black;
    padding: 1px 10px;
}
main {
    padding-left: 20px;
}
footer {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: lightgray;
    color: black;
}