body {
    grid-template-columns: auto 95% auto;
}
header {
    box-shadow: 0 0 10px var(--default-dark);
}
header h1 {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
    grid-template-columns: 1fr;
}
nav ul .toggler {
    display: block;
}
nav li.toggler a {
    background-color: var(--default-light);
    box-shadow: 0 0 10px var(--default-light), inset 0 0 10px var(--main-color);
    color: var(--main-color);
}
nav li.toggler a:hover {
    cursor: pointer;
}
nav li.hide a {
    color: var(--default-light);
    background-color: var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
}
nav ul li.hide ~ * a {
    /* display: none; */
    padding: 0;
    height: 0;
}


section.contact-info {
    grid-template-columns: 1fr;
}
section.contact-info iframe {
    width: 100%;
    height: 300px;
    grid-column: 1;
    grid-row: span 1;
    grid-gap: 10px;
}
section.contact-info h3 {
    margin-top: 1rem;
}
section.contact-info ul {
    margin-left: calc(2.14285714em + (35% - 120px));
    margin-bottom: 15px;
}
section.contact-info h3,
section.contact-info .social-links {
    margin-left: calc(35% - 120px);
}


@media screen and (max-width: 425px) {
    #brk1 {
        display: block;
    }
    section.contact-info ul {
        margin-left: calc(2.14285714em + (30% - 70px));
        margin-bottom: 15px;
    }
    section.contact-info h3,
    section.contact-info .social-links {
        margin-left: calc(30% - 70px);
    }
}
