.forecast {
    grid-template-columns: repeat(2, 1fr);
}
.forecast section:nth-child(3) {
    grid-column: 1 / -1;
}

nav {
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    align-self: start;
    box-shadow: -4px 0 4px var(--gray);
    transition: right 0.3s;
    z-index: 99;
}
nav.out {
    right: -210px;
}
nav ul {
    background-color: var(--blue);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 50px);
    position: relative;
}
nav ul li:nth-child(1) {
    display: block;
    position: absolute;
    top: calc((87px - 30px - 2rem) / 2);
    background-color: var(--blue);
    padding: 1rem 2rem 1rem 1rem;
    height: 30px;
    width: 30px;
    left: -78px;
}
nav ul li:nth-child(1).shadow,
nav:not(.out) ul li:nth-child(1) {
    box-shadow: -4px 2px 4px var(--gray);
}
nav ul li:nth-child(1):hover {
    cursor: pointer;
}
nav ul li:nth-child(1) span {
    display: block;
    position: absolute;
    background-color: white;
    width: 30px;
    border-radius: 50px;
    height: 4px;
    transition: transform 0.3s, top 0.3s;
}
nav ul li:nth-child(1) span:nth-child(1) {
    top: calc(34% - 2px);
}
nav ul li:nth-child(1) span:nth-child(2) {
    top: calc(50% - 2px);
}
nav ul li:nth-child(1) span:nth-child(3) {
    top: calc(66% - 2px);
}
nav:not(.out) ul li:nth-child(1) span:nth-child(1) {
    top: calc(50% - 2px);
    transform: rotate(-225deg);
}
nav:not(.out) ul li:nth-child(1) span:nth-child(2) {
    background-color: transparent;
    top: calc(50% - 2px);
}
nav:not(.out) ul li:nth-child(1) span:nth-child(3) {
    top: calc(50% - 2px);
    transform: rotate(225deg);
}
nav ul li {
    padding: 0;
}
nav a {
    margin: 0;
    display: block;
}
section h2 {
    text-align: center;
}
section > section.grid {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}
section > section.grid > *,
div.grid > section > p {
    text-align: center;
}
div.grid.specific p {
    text-align: left;
}
section > section.grid img {
    justify-self: center;
    align-self: center;
    margin: 0;
}
section > section.grid h3 a {
    width: calc(64px + 1rem);
    display: block;
    margin: 0 auto;
    position: static;
}
section > section.grid p {
    padding: 0;
}
