html {
    background-image: linear-gradient(45deg, black, gray);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: grid;
}
body {
    max-width: 600px;
    position: relative;
    align-self: center;
    background: white;
    border-radius: 10px;
    justify-self: center;
    box-shadow: 2px 2px 15px #222222;
    margin: 0;
}
* {
    font-family: sans-serif;
}

header {
    padding: 1rem 0;
    border-radius: 9px 9px 0 0;
    background-color: dodgerblue;
    text-align: center;
}
header h1 {
    margin: 0;
}


main {
    padding: 1rem 2rem;
}


.weeks {
    display: grid;
    grid-template-columns: auto max-content max-content max-content;
    grid-column-gap: 15px;
    align-items: center;
}
.weeks a {
    color: black;
    height: 40px;
    padding: 5px;
    display: grid;
    text-decoration: none;
    grid-template-columns: 40px min-content;
    transition: all 0.3s;
    border-radius: 10px;
    align-items: center;
    position: relative;
    font-size: 0.85em;
}
.weeks a:hover {
    box-shadow: 2px 2px 8px darkslategray;
}
.weeks a img {
    width: 100%;
}
.weeks a span {
    top: -0.5em;
    right: -0.5em;
    font-weight: bold;
    position: absolute;
    border-radius: 1em;
    background-color: royalblue;
    box-shadow: 2px 2px 4px darkslategray;
    transform: scale(0.5);
    text-align: center;
    color: royalblue;
    font-size: 0.7em;
    padding: 4px;
    height: 1em;
    width: 1em;
    transition: transform 0.3s,
                color 0.2s;
}
.weeks a span.showOnHover {
    transform: scale(0);
}
.weeks a:hover span {
    color: white;
    transform: scale(1.5);
    transition: transform 0.3s,
                color 0.2s;
}


div.codeLanguage {
    padding: 5px 50px;
    width: max-content;
    text-align: center;
    background: #4169e1;
    color: #FFFFFF;
}
pre {
    font-family: monospace;
    width: max-content;
    max-width: calc(100% - 30px);
    margin-top: -3px;
    border: 5px solid #4169e1;
    padding-right: 50px;
    padding: 10px;
    overflow: scroll hidden;
}
pre * {
    font-family: monospace;
}
pre .reservedWord {
    color: royalblue;
}
pre .functionName {
    color: chocolate;
}
pre .text {
    color: darkgreen;
}
pre .parameter, pre .object {
    color: darkblue;
}

section.note h2 {
    margin-bottom: 0;
}
.source {
    font-size: 0.75rem;
    padding-left: 5px;
}
a.back {
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px 0 0 0;
    color: black;
    display: block;
    height: 1.15em;
    width: 1.15em;
    position: absolute;
    top: 0; left: 0;
}
a.back:hover {
    background-color: rgba(255,255,255,0.5);
}

footer {
    background-color: dodgerblue;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 1rem 0;
}


@media screen and (max-width: 500px) {
    html {
        display: block;
    }
    header, footer {
        border-radius: 0;
    }
    .weeks {
        grid-template-columns: 100px max-content;
        width: max-content;
        margin: 0 auto;
    }
    .weeks h2 {
        margin: 0;
        text-align: center;
    }
    .weeks a {
        grid-column: 2;
        width: max-content
    }
}